<!DOCTYPE html>
<head>
    <title><%= aboutTitle %></title>
</head>
<html>

<body>
      <!-- include header here -->
      <%- include('./partials/header.ejs') %>
     
      <h2>About us page.</h2>
</body>

</html>
