<!DOCTYPE html>
<head>
    <title><%= indexTitle %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<html>

<body>
      <!-- include header here -->
      <%- include('./partials/header.ejs') %>
    
     <h2>Welcome to Node.JS 2021 Lockdown Application : Nepal</h2>
</body>

</html>
