     .header {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          background: gray;
          padding: 20px;
     }
     a {
          text-decoration: none;
          color: wheat;
     }

     a:hover {
          background: green;
          color: white;
     }
